@page
@model Razor_09_EntityFramework.Pages_Blog.IndexModel

@{
    ViewData["Title"] = "Index";
    int i = 0;
}

<h1>Index</h1>

<form method="get" asp-page="/">
    <label class="form-label">Tìm kiếm</label>
    <input name="SearchString" type="text" />
    <button type="submit" class="btn btn-danger">Gửi</button>
</form>

<p>
    <a asp-page="Create" class="btn btn-info">Tạo bài viết mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].created)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Article)
        {
            <tr>
                <td>@(++i)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.created)
                </td>

                <td>
                    <a asp-page="./Edit" asp-route-id="@item.id">Sửa</a> |
                    <a asp-page="./Details" asp-route-id="@item.id">Xem</a> |
                    <a asp-page="./Delete" asp-route-id="@item.id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var pagingModel = new Razor_09_EntityFramework.Helpers.PageModel()
    {
        countpages = Model.countPages,
        currentpage = Model.currentPage,
        generateUrl = (int? p) => Url.Page("/Blog/Index", new { p = p })
    };
}
<partial name="_Paging" model="@pagingModel" />
